h1 {
    margin: 2% 2%;
    color: black;
    font-weight: bold;
}

div.login-form {
    text-align: center;
    width: 50%;
    height: 500px;
    margin: 0 auto;
}

div.login-form form {
    border-style: solid;
    border-radius: 5%;
    height: 70%;
}

div.login-form form div {
    width: 90%;
    margin: 0 auto;
}

